/* colors:
green: #7ed957
blue: #38b6ff
pink: #ff66c4
purple: #cb6ce6
blue2 : #5271ff */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body , html{
      height: 100%;
  }
  .title{
    font-family: 'Belleza', sans-serif;
  }
  .body{
    font-family: "Lato", Helvetica, Arial, sans-serif; 
    font-weight: 500;
  }
  .bg_blue{
      background-color: #38b6ff;
  }
  .green{
    background-color: #7ed957;
    }
    .bg_blue2{
        background-color: #5271ff;
    }
    .bg_pink{
        background-color: #ff66c4;
    }
    .bg-purple{
        background-color: #cb6ce6
    }